:root {
  --q-primary: #181b4b;
  --q-secondary: #4f3288ff;
  --q-accent: #004247ff;

  --q-positive: #21BA45;
  --q-negative: #C10015;
  --q-info: #31CCEC;
  --q-warning: #F2C037;
  --q-dark: #1d1d1d;
}
